In [65]:
import requests
import csv
import pandas as pd
from bs4 import BeautifulSoup

In [66]:
file = open("call_rate.csv", mode="w", encoding="utf-8")
writer = csv.writer(file)

k = 1
while k <= 560:
    url = 'https://finance.naver.com/marketindex/interestDailyQuote.nhn?marketindexCd=IRR_CALL&page={}'.format(k)
    response = requests.get(url)
    soup = BeautifulSoup(response.text,'html.parser')

    for i in soup.select('tr'):
        if i.select_one('td.date'):
            date = i.select_one('td.date')
            call = i.select_one('td.num')
            writer.writerow([date.text.strip().replace(".","-"), call.text.strip()])
        
    if k % 50 == 0:
        print('{} done'.format(k))
    k += 1

file.close()

50 done
100 done
150 done
200 done
250 done
300 done
350 done
400 done
450 done
500 done
550 done

In [67]:
call_rate = pd.read_csv("call_rate.csv", header=None)

In [68]:
call_rate

               0     1
0     2020-07-22  0.45
1     2020-07-21  0.46
2     2020-07-20  0.44
3     2020-07-17  0.46
4     2020-07-16  0.49
...          ...   ...
3915  2004-10-14  3.51
3916  2004-10-13  3.52
3917  2004-10-12  3.52
3918  2004-10-11  3.53
3919  2004-10-08  3.53

[3920 rows x 2 columns]